
@{
    ViewBag.Title = "UpLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpLoad</h2>

<table>
    <tr>
        <td>
            Chuyên mục:
        </td>
        <td>
            <select>
                <option>a</option>
                <option>b</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            Địa điểm:
        </td>
        <td>
            <select>
                <option>a</option>
                <option>b</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            Tên món hàng:
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td>
            Nội dung
        </td>
        <td>
            <input type="text" multiple="true" />
        </td>
    </tr>
    <tr>
        <td>
            Giá:
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
</table>